<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	
	<div class="container">
	 	<div class="row">
			<div class="col-xs-4">
				<div class="send_form">
					<form action="#" class="form-horisontal">
						<input type="text" required placeholder="Ваше ім'я" >
						<input type="email" required placeholder="Email">
						<input type="text" required placeholder="Ваша адреса">
						<input type="phone" required placeholder="Телефон">
						<textarea name="description_of_order" id="send_form_order_description" cols="4" rows="2"></textarea>
						<button type="submit" class="send_form_button_order">Замовити</button>
						<a href="home" class="send_form_button_order">Скасувати</a>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>