{% extends 'base.html' %}

{% block content %}

	<div class="container home" id="home">
		<section class="jumbotron wow fadeInRight" data-wow-delay='0.3s' style="background-image: url(../static/img/ears.jpg);">
			<div class="col-xs-3">
				<p class="main_page_logo text-center wow swing"
					data-wow-delay='0.6s'>Спробуйте, <br> і вам захочеться ще!</p>
			</div>
			
		</section>
		
		<div class="row wow fadeInLeft" id="row_button">
			<div class="col-xs-12" >
				<a href="{% url 'assorthment' %}" >
					<button type="button"
							class="btn btn-primary a_button wow swing"
							data-wow-delay='0.5s'>
						<span class="span_color_logo">Н</span>аш асортимент
						</button>
				</a>
			</div>
		</div>

		
		
	</div>

	

{% endblock content %}