{% extends 'base.html' %}

{% block logo %} <span class="span_color_logo">В</span>ідправлення замовлення... {% endblock logo %}

{% block content %}

	<div class="main_form">	
		<form action="{% url 'order_on_the_site' %}" method="post" enctype="multipart/form-data"
						role="form" class="form-horisontal">
			{% csrf_token %}

			<div class="row form_row">
				<div class="form-group {% if errors.description %}has-error{% endif %}">
				
					<label for="description" class="col-xs-1 control-label">Деталі замовлення:*</label>
					<div class="col-xs-7">
						<span class="help-block">
							<textarea id="description" name="description"
									cols="20" rows='3' class="form-control"
									placeholder="Назва товару, вага...">
									
							</textarea>
							{{ errors.description }}
						</span>
					</div>
				
				</div>
			</div>

			<div class="row form_row">
				<div class="form-group {% if errors.address %}has-error{% endif %}">
				
					<label for="address" class="col-xs-1 control-label">Куди відправити:*</label>
					<div class="col-xs-7">

						<span class="help-block">
							<textarea id="address" name="address"
									cols="20" rows='2' class="form-control"
									placeholder="Адреса...">
									
							</textarea>
							{{ errors.address }}
						</span><hr>
					</div>
				
				</div>
			</div>


			<div class="row form_row">
				<div class="form-group">
					
					<label class="col-xs-1 control-label"></label>
					<div class="col-xs-5">
						<button type="submit" 
								name="send_button" class="btn btn-primary send_button"><span class="span_color_logo">З</span>амовити</button>
						<button type="submit" class="btn btn-link cancel_button"
								name="cancel_button"><span class="span_color_logo">С</span>касувати
						</button>
					</div>
				</div>
			</div>

		</form>
	</div>

	<div class="enter_respond">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-1"> 
				<a href="/add_respond">
					<button id='response_btn' class="btn btn-primary send_button">
					<span class="span_color_logo">З</span>алишити відгук
					</button>
				</a>
			</div>
		</div>
	</div>


{% endblock content %}