<!-- {% extends 'base.html' %}

{% block logo %} <span class="span_color_logo">Р</span>еєстрація... {% endblock logo %}

{% block content %}

	<div class="main_form">	
		<form action="{% url 'registration' %}" method="post" enctype="multipart/form-data"
						role="form" class="form-horisontal">
			{% csrf_token %}
			
			<div class="row form_row">
				<div class="form-group {% if errors.name %}has-error{% endif %}">
				
					<label for="name" class="col-xs-1 control-label">Ім'я:*</label>

					<div class="col-xs-3">
						<span class="help-block">
							<input type="text" id="name" name="name" 
									value="{{request.POST.name }}" class="form-control" 
									placeholder="Введіть ім'я">
						
							{{errors.POST.name}}
						</span>
					</div>
				</div>
				
				<div class="form-group {% if errors.last_name %}has-error{% endif %}">
			
					<label for="name" class="col-xs-1 control-label">Прізвище:*</label>

					<div class="col-xs-3">
						<span class="help-block">
							<input type="text" id="last_name" name="last_name" 
									value="{{request.POST.last_name }}" class="form-control" 
									placeholder="Введіть прізвище">
						
							{{errors.POST.last_name}}
						</span>
					</div>
				</div>

			</div> end form_row

			
			<div class="row form_row">
				<div class="form-group {% if errors.email %}has-error{% endif %}">
					
						<label for="email" class="col-xs-1 control-label">Email:*</label>
						<div class="col-xs-3">
							<span class="help-block">
								<input type="email" id="email" name="email"
										value="{{ request.POST.email }}" class="form-control"
										placeholder="example@com.ua">
							
								{{ errors.email }} 
							</span>
						</div>
					
				</div>

				<div class="form-group {% if errors.address %}has-error{% endif %}">
					
						<label for="address" class="col-xs-1 control-label">Адреса:*</label>
						<div class="col-xs-3">
							<span class="help-block">
							
								<input type="text" id="address" name="address"
										value="{{ request.POST.address }}" class="form-control" placeholder="Область, місто, вулиця...">
											
								{{ errors.address }}
							</span>
						</div>
				</div> 
			</div>end form_row

			<div class="row form_row">
				<div class="form-group {% if errors.phone %}has-error{% endif %}">
				
					<label for="phone" class="col-xs-1 control-label">Телефон:*</label>
					<div class="col-xs-3">
						<span class="help-block">
							<input type="phone" id="phone" name="phone"
									value="{{ request.POST.phone }}"
									minlength="10"
									maxlength="10" 
									class="form-control" placeholder="Введіть ваш номер">
								
					
							{{ errors.phone }}
						</span>
					</div>
				</div>

			

			</div> end form_row


		

			<div class="row form_row">
				<div class="form-group">
				
					<label class="col-xs-1 control-label"></label>
					<div class="col-xs-5">
						<button type="submit" 
								name="send_button" class="btn btn-primary send_button"><span class="span_color_logo">З</span>берегти</button>
						<button type="submit" class="btn btn-link cancel_button"
								name="cancel_button"><span class="span_color_logo">С</span>касувати
						</button>
					</div>
				</div>
			</div> end form_row

		</form>

		<section class="feedback">
			<div class="row-xs-12 text-center">
				<h4 class="respond"><span class="span_color_logo">П</span>ро нас кажуть</h4>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="client_said">		
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur nemo. Incidunt a illo voluptatibus enim, nostrum, quos dolorem repudiandae!</p>
				
						<div class="words_about_us">
							{% for entry in respond %}
								<p>entry.text</p>
								<p>entry.name</p>
							{% endfor %}
						</div>
					
					</div>
				</div>
			</div>	
		</section>	

	</div>




{% endblock content %}  -->